
#container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 20px;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 200px);
}

#details {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.companies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#score {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

#donut {
  width: 50%;
}

#scoreContainer {
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

#line {
  width: calc(100% - 180px);
}

